@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: "微软雅黑"; }

em, i, h1, h2, h3, h4, h5, h6, dd, dl, dt, ul, li, div {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-weight: normal;
  font-style: normal; }

a {
  text-decoration: none;
  color: black;
  outline: none; }

a:focus, a:hover {
  text-decoration: none; }

.l {
  float: left; }

.r {
  float: right; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; }

.container-fluid, .col-md-4 {
  margin: 0 auto;
  padding: 0; }

input:focus {
  outline: none; }

header {
  width: 100%;
  background: #323137;
  font-weight: bolder;
  font-size: 17px;
  color: #fff; }
  header p {
    line-height: 44px;
    text-align: center;
    position: relative;
    font-weight: bold; }
    header p a {
      display: inline-block;
      padding-left: 4%;
      font-weight: normal;
      color: #fff;
      line-height: 44px;
      background: url(../img/fanhui-40_40@2x.png) no-repeat left center;
      position: absolute;
      left: 5px;
      background-size: 20%; }

main {
  width: 100%; }
  main .logo {
    width: 100%;
    text-align: center;
    padding: 9%; }
  main .tabs {
    width: 100%; }
    main .tabs ul {
      width: 100%;
      text-align: center;
      color: #606060;
      margin-bottom: 33px;
      font-size: 17px; }
      main .tabs ul li {
        width: 62px;
        display: inline-block;
        padding: 7px 0;
        margin-left: 56px; }
      main .tabs ul li:first-child {
        margin-left: 0px; }
    main .tabs .active {
      border-bottom: 2px solid #f23030; }
    main .tabs .on {
      display: block; }
    main .tabs .off {
      display: none; }
    main .tabs .content {
      width: 100%; }
      main .tabs .content form {
        width: 66%;
        margin: 0 auto;
        min-width: 248px; }
        main .tabs .content form label {
          width: 100%;
          display: inline-block;
          line-height: 35px;
          border-bottom: 1px solid #c6c5cb;
          box-sizing: border-box; }
          main .tabs .content form label em {
            display: inline-block;
            width: 10%;
            min-width: 28px;
            height: 35px;
            vertical-align: bottom; }
          main .tabs .content form label input {
            border: none;
            line-height: 35px;
            font-size: 15px; }
          main .tabs .content form label ::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #c6c5cb; }
          main .tabs .content form label :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #c6c5cb; }
          main .tabs .content form label ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #c6c5cb; }
          main .tabs .content form label :-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #c6c5cb; }
        main .tabs .content form .label1 em {
          background: url(../img/zhanghu-20_20@1x.png) no-repeat center; }
        main .tabs .content form .label2 {
          margin-top: 12px; }
          main .tabs .content form .label2 em {
            background: url(../img/mima-20_20@1x.png) no-repeat center; }
        main .tabs .content form .label3 em {
          background: url(../img/shouji-20_20@1x.png) no-repeat center; }
        main .tabs .content form .label4 {
          margin-top: 13px; }
        main .tabs .content form label:last-child {
          border: none; }
        main .tabs .content form input[name="text2"] {
          width: 40%;
          line-height: 35px; }
        main .tabs .content form input[name="text2"] + input {
          min-width: 84px;
          line-height: 35px;
          background: #f23030;
          color: #fff;
          padding: 0 10px; }
        main .tabs .content form .login_red {
          background: #f23030;
          border: 1px solid #f23030;
          margin-top: 35px;
          line-height: 44px;
          width: 100%;
          color: #fff;
          text-align: center; }
        main .tabs .content form .login {
          background: #d2d1d6;
          border: none;
          margin-top: 35px;
          line-height: 44px;
          width: 100%;
          color: #fff;
          text-align: center; }

#alert {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0; }
  #alert .banner {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #fff;
    border-radius: 15px;
    width: 270px;
    height: 165px;
    padding: 45px 0; }
    #alert .banner p {
      width: 100%;
      text-align: center;
      margin-bottom: 23px;
      font-size: 17px; }
    #alert .banner p + p {
      margin: 0;
      line-height: 35px; }
    #alert .banner button {
      background: #f23030;
      border: 1px solid #f23030;
      color: #fff;
      line-height: 35px;
      width: 140px; }

@media (min-width: 768px) {
  main .tabs .content form label {
    line-height: 50px; }
    main .tabs .content form label input {
      line-height: 50px; }
    main .tabs .content form label em {
      height: 50px; } }

@media (min-width: 1023px) {
  main .tabs .content form label em {
    background-size: 60% !important; } }

@media (min-width: 320px) {
  body {
    zoom: 88%; } }

@media (min-width: 992px) {
  .col-md-4 {
    float: none; } }
